/** Margin + Padding global classes **/

/**
  * Margins
**/

// Top

.m-top-0 {
  margin-top: 0 !important;
}

.m-top-1 {
  margin-top: 4px !important;
}

.m-top-2 {
  margin-top: 8px !important;
}

.m-top-3 {
  margin-top: 12px !important;
}

.m-top-4 {
  margin-top: 16px !important;
}

.m-top-5 {
  margin-top: 20px !important;
}

.m-top-6 {
  margin-top: 24px !important;
}

.m-top-7 {
  margin-top: 28px !important;
}

.m-top-8 {
  margin-top: 32px !important;
}

.m-top-auto {
  margin-top: auto !important;
}

.m-top-5p {
  margin-top: 5% !important;
}

.m-top-10p {
  margin-top: 10% !important;
}

.m-top-15p {
  margin-top: 15% !important;
}

.m-top-20p {
  margin-top: 20% !important;
}

// Bottom

.m-bottom-0 {
  margin-bottom: 0 !important;
}

.m-bottom-1 {
  margin-bottom: 4px !important;
}

.m-bottom-2 {
  margin-bottom: 8px !important;
}

.m-bottom-3 {
  margin-bottom: 12px !important;
}

.m-bottom-4 {
  margin-bottom: 16px !important;
}

.m-bottom-5 {
  margin-bottom: 20px !important;
}

.m-bottom-6 {
  margin-bottom: 24px !important;
}

.m-bottom-7 {
  margin-bottom: 28px !important;
}

.m-bottom-8 {
  margin-bottom: 32px !important;
}

.m-bottomauto {
  margin-bottom: auto !important;
}

.m-bottom5p {
  margin-bottom: 5% !important;
}

.m-bottom10p {
  margin-bottom: 10% !important;
}

.m-bottom15p {
  margin-bottom: 15% !important;
}

.m-bottom20p {
  margin-bottom: 20% !important;
}

// Top & Bottom

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-y-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.m-y-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.m-y-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.m-y-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.m-y-5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-y-6 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.m-y-7 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}

.m-y-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.m-y-auto {
  margin: auto 0;
}

.m-y-5p {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.m-y-10p {
  margin-top: 10% !important;
  margin-bottom: 10% !important;
}

.m-y-15p {
  margin-top: 15% !important;
  margin-bottom: 15% !important;
}

.m-y-20p {
  margin-top: 20% !important;
  margin-bottom: 20% !important;
}

// Left

.m-left-0 {
  margin-left: 0 !important;
}

.m-left-1 {
  margin-left: 4px !important;
}

.m-left-2 {
  margin-left: 8px !important;
}

.m-left-3 {
  margin-left: 12px !important;
}

.m-left-4 {
  margin-left: 16px !important;
}

.m-left-5 {
  margin-left: 20px !important;
}

.m-left-6 {
  margin-left: 24px !important;
}

.m-left-7 {
  margin-left: 28px !important;
}

.m-left-8 {
  margin-left: 32px !important;
}

.m-left-auto {
  margin-left: auto !important;
}

.m-left-5p {
  margin-left: 5% !important;
}

.m-left-10p {
  margin-left: 10% !important;
}

.m-left-15p {
  margin-left: 15% !important;
}

.m-left-20p {
  margin-left: 20% !important;
}

// Right

.m-right-0 {
  margin-right: 0 !important;
}

.m-right-1 {
  margin-right: 4px !important;
}

.m-right-2 {
  margin-right: 8px !important;
}

.m-right-3 {
  margin-right: 12px !important;
}

.m-right-4 {
  margin-right: 16px !important;
}

.m-right-5 {
  margin-right: 20px !important;
}

.m-right-6 {
  margin-right: 24px !important;
}

.m-right-7 {
  margin-right: 28px !important;
}

.m-right-8 {
  margin-right: 32px !important;
}

.m-right-auto {
  margin-right: auto !important;
}

.m-right-5p {
  margin-right: 5% !important;
}

.m-right-10p {
  margin-right: 10% !important;
}

.m-right-15p {
  margin-right: 15% !important;
}

.m-right-20p {
  margin-right: 20% !important;
}

// Left & Right

.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-x-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.m-x-2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.m-x-3 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.m-x-4 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.m-x-5 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.m-x-6 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.m-x-7 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}

.m-x-8 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.m-x-auto {
  margin: 0 auto;
}

.m-x-5p {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.m-x-10p {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.m-x-15p {
  margin-left: 15% !important;
  margin-right: 15% !important;
}

.m-x-20p {
  margin-left: 20% !important;
  margin-right: 20% !important;
}

// All sides

.m-all-0 {
  margin: 0 !important;
}

.m-all-1 {
  margin: 4px !important;
}

.m-all-2 {
  margin: 8px !important;
}

.m-all-3 {
  margin: 12px !important;
}

.m-all-4 {
  margin: 16px !important;
}

.m-all-5 {
  margin: 20px !important;
}

.m-all-6 {
  margin: 24px !important;
}

.m-all-7 {
  margin: 28px !important;
}

.m-all-8 {
  margin: 32px !important;
}

.m-auto {
  margin: auto;
}

.m-all-5p {
  margin: 5% !important;
}

.m-all-10p {
  margin: 10% !important;
}

.m-all-15p {
  margin: 15% !important;
}

.m-all-20p {
  margin: 20% !important;
}

/**
  * Padding
**/

// Top

.p-top-0 {
  padding-top: 0 !important;
}

.p-top-1 {
  padding-top: 4px !important;
}

.p-top-2 {
  padding-top: 8px !important;
}

.p-top-3 {
  padding-top: 12px !important;
}

.p-top-4 {
  padding-top: 16px !important;
}

.p-top-5 {
  padding-top: 20px !important;
}

.p-top-6 {
  padding-top: 24px !important;
}

.p-top-7 {
  padding-top: 28px !important;
}

.p-top-8 {
  padding-top: 32px !important;
}

.p-top-auto {
  padding-top: auto !important;
}

.p-top-5p {
  padding-top: 5% !important;
}

.p-top-10p {
  padding-top: 10% !important;
}

.p-top-15p {
  padding-top: 15% !important;
}

.p-top-20p {
  padding-top: 20% !important;
}

// Bottom

.p-bottom-0 {
  padding-bottom: 0 !important;
}

.p-bottom-1 {
  padding-bottom: 4px !important;
}

.p-bottom-2 {
  padding-bottom: 8px !important;
}

.p-bottom-3 {
  padding-bottom: 12px !important;
}

.p-bottom-4 {
  padding-bottom: 16px !important;
}

.p-bottom-5 {
  padding-bottom: 20px !important;
}

.p-bottom-6 {
  padding-bottom: 24px !important;
}

.p-bottom-7 {
  padding-bottom: 28px !important;
}

.p-bottom-8 {
  padding-bottom: 32px !important;
}

.p-bottomauto {
  padding-bottom: auto !important;
}

.p-bottom5p {
  padding-bottom: 5% !important;
}

.p-bottom10p {
  padding-bottom: 10% !important;
}

.p-bottom15p {
  padding-bottom: 15% !important;
}

.p-bottom20p {
  padding-bottom: 20% !important;
}

// Top & Bottom

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-y-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.p-y-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.p-y-3 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.p-y-4 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.p-y-5 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-y-6 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.p-y-7 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}

.p-y-8 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.p-y-auto {
  padding: auto 0;
}

.p-y-5p {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

.p-y-10p {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
}

.p-y-15p {
  padding-top: 15% !important;
  padding-bottom: 15% !important;
}

.p-y-20p {
  padding-top: 20% !important;
  padding-bottom: 20% !important;
}

// Left

.p-left-0 {
  padding-left: 0 !important;
}

.p-left-1 {
  padding-left: 4px !important;
}

.p-left-2 {
  padding-left: 8px !important;
}

.p-left-3 {
  padding-left: 12px !important;
}

.p-left-4 {
  padding-left: 16px !important;
}

.p-left-5 {
  padding-left: 20px !important;
}

.p-left-6 {
  padding-left: 24px !important;
}

.p-left-7 {
  padding-left: 28px !important;
}

.p-left-8 {
  padding-left: 32px !important;
}

.p-left-auto {
  padding-left: auto !important;
}

.p-left-5p {
  padding-left: 5% !important;
}

.p-left-10p {
  padding-left: 10% !important;
}

.p-left-15p {
  padding-left: 15% !important;
}

.p-left-20p {
  padding-left: 20% !important;
}

// Right

.p-right-0 {
  padding-right: 0 !important;
}

.p-right-1 {
  padding-right: 4px !important;
}

.p-right-2 {
  padding-right: 8px !important;
}

.p-right-3 {
  padding-right: 12px !important;
}

.p-right-4 {
  padding-right: 16px !important;
}

.p-right-5 {
  padding-right: 20px !important;
}

.p-right-6 {
  padding-right: 24px !important;
}

.p-right-7 {
  padding-right: 28px !important;
}

.p-right-8 {
  padding-right: 32px !important;
}

.p-right-auto {
  padding-right: auto !important;
}

.p-right-5p {
  padding-right: 5% !important;
}

.p-right-10p {
  padding-right: 10% !important;
}

.p-right-15p {
  padding-right: 15% !important;
}

.p-right-20p {
  padding-right: 20% !important;
}

// Left & Right

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-x-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.p-x-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p-x-3 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.p-x-4 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.p-x-5 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.p-x-6 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.p-x-7 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.p-x-8 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.p-x-auto {
  padding: 0 auto;
}

.p-x-5p {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.p-x-10p {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.p-x-15p {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.p-x-20p {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

// All sides

.p-all-0 {
  padding: 0 !important;
}

.p-all-1 {
  padding: 4px !important;
}

.p-all-2 {
  padding: 8px !important;
}

.p-all-3 {
  padding: 12px !important;
}

.p-all-4 {
  padding: 16px !important;
}

.p-all-5 {
  padding: 20px !important;
}

.p-all-6 {
  padding: 24px !important;
}

.p-all-7 {
  padding: 28px !important;
}

.p-all-8 {
  padding: 32px !important;
}

.p-auto {
  padding: auto;
}

.p-all-5p {
  padding: 5% !important;
}

.p-all-10p {
  padding: 10% !important;
}

.p-all-15p {
  padding: 15% !important;
}

.p-all-20p {
  padding: 20% !important;
}
